<mat-toolbar id="secondNav" color="primary">
  <mat-toolbar-row>
    
    <span>My App</span>
    <span class="example-spacer"></span>

  <div class="navMenu">
    <button mat-raised-button color="primary" >Home</button>
    <button mat-raised-button routerLink="/blog" color="primary" >Blog</button>
    <button mat-raised-button color="primary" >Home</button>
    <button mat-raised-button color="primary" >Home</button>
  </div>
    <span class="example-spacer"></span>

    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>login</mat-icon>
    </button> -->
    <span><a routerLink="/admin-panel">admin</a></span>
  </mat-toolbar-row>

 
</mat-toolbar>



