<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6  ml-auto form">

              <div>
                
                <form  (ngSubmit)="onSubmit()" [formGroup]="logform">
    
               
                  <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" placeholder="Username">
                  </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput type="password"  placeholder="Username">
                      </mat-form-field>
                      <button mat-raised-button color="warn">Login</button>
                      <button [routerLink]="['/register']" routerLinkActive="router-link-active"  class="ml-2" mat-raised-button color="warn">Register</button>
                      
                </form>
              </div>
              
            </div>
        </div>
    </div>
</section>