<div class="container">
    <div class="row mt-5">
       
        <div class="col-md-4">
           <mat-card>
           <mat-card-title>Dog Lovers</mat-card-title>
           <mat-card-subtitle>Sachin sagar</mat-card-subtitle>
           <mat-card-content>A small, agile dog that copes very well with mountainous terrain and hiking trails, the Shiba Inu
             was originally bred for hunting.</mat-card-content>
           <!-- mat-card-image || mat-card-sm-image || mat-card-md-image ||   
             mat-card-lg-image || mat-card-avatar -->
           <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Shiba Inu">
           <!-- align= "end" || "start" -->
           <mat-card-actions align="end">
           <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
         
           <mat-button-toggle>View</mat-button-toggle>
           </mat-button-toggle-group>
           </mat-card-actions>
           <!-- <mat-card-footer><i>admin </i> <b> sachin</b></mat-card-footer> -->
           </mat-card>
            
        </div>
        
    </div>
</div>