<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Text</li>
                <li class="list-group-item ">
                    <a  routerLink="/admin-panel/categories">
                        Categories
                    </a>
                    </li>
                    <li class="list-group-item ">
                        <a  routerLink="/admin-panel/blog">
                            Blogs
                        </a>
                        </li>
                        <li class="list-group-item ">
                            <a  routerLink="/admin-panel/users">
                                Users
                            </a>
                            </li>
                <li class="list-group-item disabled" aria-disabled="true">Disabled item</li>
                <li class="list-group-item disabled" aria-disabled="true">Disabled item</li>
            </ul>
        </div>
        <div class="col-md-9 ">
            <mat-list>
                
               <router-outlet></router-outlet>
               
            
            </mat-list>
           
            
           
        </div>
    </div>
</div>

